<h1><%= @movie.title %></h1>

<img src="<%= @movie.poster_url %>" class="rounded float-start" alt="<%= @movie.title %>" style="max-width: 200px; object-fit: cover; margin-right: 20px;">

<p><%= @movie.overview %></p>
